body{
    background: url('./Bikini-bottom.png');
    background-repeat:no-repeat ;
    background-size: cover;
   width: auto;
   height: 98vmin;
}

h1{
    
    text-align: center;
}
p {
    text-align: center;
    font-size: 2em;
}
#content{
  display: flex;
  align-items: center;
}
.Mr_Krabs{
    width: 25%;
}