* {
  margin: 0;
  padding: 0;
  font-family: "Caveat";
  color: white
}

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

html {
  background: url("./Bikini-bottom\ .png") no-repeat center center fixed;
}

h1 {
  text-align: center;
  font-size: 3em;
}
p {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
#content {
  display: flex;
  align-items: center;
  margin: 2%;
  width: fit-content;
}
.mascot {
  width: 25%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
}
button {
  background: transparent;
  border: none;
  font-size: 2em;
}
.grid {
  margin-top: 3%;
  display: grid;
  grid-template: auto auto/ auto auto;
  grid-gap: 5%;
  width: 50%;
  margin: auto;
}
span {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
.gItem {
  text-align: center;
  width: 70%;
}
.patty {
  width: 50%;
  margin: auto;
}
